---
import { LanguageDropdown } from './LanguajeDropdown/LanguageDropdown.jsx';
import { geti18n } from '../i18n';
let { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
---

<header
	class="flex justify-between items-center h-[50px] fixed top-0 w-full z-50 left-0 lg:px-40 px-0 py-8"
>
	<a href="/">
		<img src="/logo.svg" alt="Glasses Logo" class="h-auto" />
	</a>
	<nav class="lg:flex flex-row items-center justify-between text-center gap-16 hidden">
		<a href="#home" class="text-white"> {i18n.HEADER_HOME} </a>
		<a href="#experience" class="text-white"> {i18n.HEADER_EXPERIENCE} </a>
		<a href="#projects" class="text-white"> {i18n.HEADER_PROJECTS} </a>
		<a href="#about" class="text-white"> {i18n.HEADER_ABOUT_ME} </a>
	</nav>
	<div class="lg:mr-0 mr-2">
		<LanguageDropdown client:load language={currentLocale} />
	</div>
</header>

<style>
	header {
		background: #0c0c0c;
		outline: 0;
	}
	.text-white:hover {
		filter: brightness(70%);
	}
</style>
