---
interface Props {
	title: string;
	description: string;
	lang: string;
}

const { title, description, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Alan Meza Valenzuela" />
		<meta
			name="keywords"
			content=" Alan Meza, Alan Meza Valenzuela, software developer, web technologies, Front-end developer, Back-end developer, Desarrollador front-end, Desarrollador back-end, Desarrollador web"
		/>
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<title>{title}</title>
	</head>
	<body class="bg-view p-5 max-w-[1200px] lg:mx-auto flex flex-col gap-52">
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Inter', sans-serif;
		background: #0c0c0c;
		color-scheme: light dark;
		scroll-behavior: smooth;
	}

	.gray-text {
		color: #727272;
	}
	.fade-text {
		background: linear-gradient(100deg, rgba(79, 195, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);
		color: transparent;
		-webkit-background-clip: text;
	}
</style>
